<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Add</title>
</head>
<body>
<main class="vh-100 d-flex justify-content-center align-items-center">
  <form class="d-flex justify-content-center mb-3"
        action="#" th:action="@{/add}" th:object="${student}" method="post">
    <div class="w-30">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="name" th:field="*{name}">
      </div>
      <div class="mb-3">
        <label for="dni" class="form-label">Documento:</label>
        <input type="text" class="form-control" id="dni" placeholder="Cédula" th:field="*{dni}">
      </div>
    </div>
    <div class="w-30 ms-2">
      <div class="mb-3">
        <label for="phone" class="form-label">Teléfono:</label>
        <input type="text" class="form-control" id="phone" placeholder="+57 11111" th:field="*{phone}">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" th:field="*{email}">
      </div>
      <button type="submit" class="w-40 btn btn-primary">Guardar</button>
    </div>
  </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>