<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Students</title>
</head>
<body>

  <table class="table">
      <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Documento</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="student: ${students}">
          <th scope="row" th:text="${student.id}"></th>
          <td th:text="${student.name}"></td>
          <td th:text="${student.dni}"></td>
          <td th:text="${student.email}"></td>
          <td th:text="${student.phone}"></td>
      </tr>
      </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>